<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="_nilnul_._LIB_" version="1.1.241016.32119" targetFramework="net48" />
  <package id="_nilnul_._LINQ_" version="1.1.241016.32253" targetFramework="net48" />
  <package id="DotNetZip" version="1.16.0" targetFramework="net48" />
  <package id="EntityFramework" version="6.5.1" targetFramework="net48" />
  <package id="MathNet.Numerics" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="nilnul._bit_._LIB_" version="1.1.241022.52038" targetFramework="net48" />
  <package id="nilnul._character_._LIB_" version="2.1.241106.132038" targetFramework="net48" />
  <package id="nilnul._geometry_._LIB_" version="1.0.241105.52907" targetFramework="net48" />
  <package id="nilnul._num_._LIB_" version="1.1.241108.145825" targetFramework="net48" />
  <package id="nilnul._num_._LINQ_" version="1.1.241104.93627" targetFramework="net48" />
  <package id="nilnul._obj_._LIB_" version="1.2.241108.133835" targetFramework="net48" />
  <package id="nilnul._rel_._LIB_" version="1.2.241108.130544" targetFramework="net48" />
  <package id="nilnul._set_._LIB_" version="1.1.240831.105511" targetFramework="net48" />
  <package id="nilnul._time_._LIB_" version="1.1.241107.13801" targetFramework="net48" />
  <package id="nilnul._txt_._LIB_" version="1.1.241106.132610" targetFramework="net48" />
  <package id="nilnul._xml_._LIB_" version="1.1.241107.73557" targetFramework="net48" />
  <package id="nilnul.collection_._discrete_._LIB_" version="1.1.240820.180817" targetFramework="net48" />
  <package id="nilnul.geometry._planar_._LIB_" version="1.1.241028.155026" targetFramework="net48" />
  <package id="nilnul.math._calculus_._LIB_" version="1.1.240824.151617" targetFramework="net48" />
  <package id="nilnul.num._complex_._LIB_" version="1.1.240820.174234" targetFramework="net48" />
  <package id="nilnul.num._integer_._LIB_" version="1.1.241104.100014" targetFramework="net48" />
  <package id="nilnul.num._quotient_._LIB_" version="1.1.240820.181307" targetFramework="net48" />
  <package id="nilnul.num._real_._LIB_" version="2.1.241108.142216" targetFramework="net48" />
  <package id="nilnul.num.real._func_._LIB_" version="1.1.240820.161945" targetFramework="net48" />
  <package id="nilnul.num.real._matrix_._LIB_" version="1.1.241108.143740" targetFramework="net48" />
  <package id="sergeyBochkanov._alglib_._LIB_" version="1.1.240820.162825" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
</packages>